@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;

}

.body-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  
}

.catalog-img {
  width: 50%;
  box-shadow: 0 0 0 1px black;
  margin-bottom: 10px;
  border-radius: 12.5%;
}

.page-img {
  width: 100%;
}

.loading-img {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.title-holder {
  margin-top: 5vh;
}

.title-holder , .title-holder > p {
 width: 100vw;
 font-family: 'Roboto', sans-serif;
}

.title-holder > p {
  margin-left: 5vw;
}

.retailer-title {
  font-size: 70px;
}

.category-title {
  font-size: 50px;
  color: blue;
}

.description {
  font-size: 35px;
  color: grey;
}

.header-navbar {
  width: 100vw;
  height: 5vh;
}

.main-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 7.5vh;
}

.back-img-container {
  height: 100%;
  width: 20%;
}

.back-img {
  height: 50%;
}

.zap-logo-svg {
  height: 50%;
}


