@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

}

p {
 font-family: 'Roboto', sans-serif;
}

.layer-container {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  background: white;
}

.catalog-img {
  width: 40vw;
  height: 40vw;
  margin-bottom: 10vw;
  border-radius: 3%;
  object-fit: cover;
}

.page-img {
  width: 100vw;
  height: 40vw;
  object-fit: cover;
}

.loading-img {
  position: absolute;
  top: 50vh;
  left: 50vw;
}


.title-holder {
 width: 100vw;
 height: auto;
 padding-bottom: 4vw;
}


.title-holder > p {
 margin : 0;
 margin-left: 5.5vw;
 margin-top: 5vw;
}

.retailer-title {
  font-size: 5vw;
}

.category-title {
  font-size: 3.5vw;
  color: blue;
}

.description {
  font-size: 3.5vw;
  color: grey;
}

.header-navbar {
  width: 100vw;
  height: 5vh;
  margin-top: 5vw;
  box-shadow: 11px 20px 16px 1px #888888;
}

.back-img-container {
  height: 100%;
  width: 20%;
}

.back-img {
  height: 50%;
  margin-left: 1.5vw;
}

.zap-logo-svg {
  height: 50%;
}

.category-name-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 16vw;
  display: flex;
  align-items: center;
}

.category-para {
  margin: 0px;
  padding: 0px;
  margin-left: 5vw;
  font-size: 5vw;
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  width: 25%;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
  background-color: #3e6fc1;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
  background-color: #3e6fc1;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
  background-color: #3e6fc1;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.container-card {
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-shadow: 5px 10px 25px 5px #888888;

}

.retailer-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: start;
}

.view-all-btn {
  color: #767676;
  margin: 0px;
  padding: 0px;
  font-size: 5vw;
  margin-right: 5vw;
}

.grid-holder {
  display: block;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.viewall-page-container {
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.viewall-retailer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: white;
  height: auto;
  box-shadow: 5px 10px 25px 5px #888888;
  margin-bottom: 10vw;
}

.retailer-card-img {
  width: 85vw;
  object-fit: cover;
  height: 40vw;
  margin-bottom: 5vw;
}

.category-viewall-title {
  font-size: 3vw; 
  color: #3e6fc1;
}

.viewall-text-container {
  width: 85vw;

}


.viewall-retailer-description {
  font-size: 3vw;
}

.viewall-retailer-name {
  font-size: 6vw;
}

.shop-now-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#3e6fc1;
  width: 40vw;
  height: 8vw;
  border-radius: 5vw;
  margin-bottom: 4vw;
}

.results-shop-btn {
  margin-left: 4vw;
  width: 40vw;
}

.shop-now-text {
  color: white;
  font-size: 4vw;
  margin-left: auto;
  margin-right: auto;
}

.viewall-categories-bar {
  display: flex;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.category-rounded-container {

}

.slider-text {
  font-size: 3.5vw;
}

.slider-text-holder {
  height: 6vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5vw;
  border-style: solid;
  border-color: grey;
  border-width: 0.66vw;
}

.shop-now-container {
  margin-top: 10vw;
  width: 100vw;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.circle-div {
  color: #3e6fc1;
  background-color: white;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4vw;
  width: 5.4vw;
  border-radius: 50%; 
  margin-right: 1vw;
}

.circle-div-blue {
  color: white;
  background-color: #3e6fc1;
}

.circle-div-big {
  font-size: 4vw;
  height: 7vw;
  width: 7vw;
}

.circle-div-hidden {
  visibility: hidden;
  margin-right: 0vw;
  margin-left: 1vw;
}

.fwd-btn {
  transform: scaleX(-1);
  height: 4vw;
}

.info-div-holder {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  width: 100vw;
  height: 60vw;
  margin-top: 10vw;
}

.info-div-holder > p {
  margin-left: 5vw;
}

.info-title {
  color: #3e6fc1;
  font-size: 4vw;
}

.info-para {
  color: grey;
  font-size: 3vw;
  margin-left: 5vw;
}

.float-btn {
  width: 12vw;
  height: 12vw;
  font-size: 6vw;
  background-color: rgb(62, 111, 193);
  color: #FFF;
  border-radius: 12vw;
  box-shadow: 4px 4px 4px #999;
  z-index: 999;
}

.float-bl {
  position: fixed;
  bottom: 5vw;
  left: 5vw;
}

.float-br {
  position: fixed;
  bottom: 5vw;
  right: 5vw;
}

.float-maps {
  position: fixed;
  bottom: 25vw;
  right: 5vw;
}

.float-icon{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promos-container {
  height: 85vw;
  width: 100vw;
  background-color: #f5f5f5;
  flex-direction: column;
}

.promos-container > p {
  margin-left: 5vw;
}

.swiper-promos-container {
  height: 70vw;
  overflow-x: hidden;
}

.promo-box {
  width: 90vw;
  height: 55vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 5px 10px 18px #888888;
  
}

/* collabsible */

.promo-box-logo {
  z-index: 999;
  position: relative;
  left: 5vw;
  bottom: 30vw;
  object-fit: cover;
  height: 26.5vw;
  width: 26.5vw;
  border-radius: 7%;
  border-style: solid;
  border-color: white;
  border-width: 0.8vw;
  box-shadow: 5px 10px 18px #888888;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 3vw;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3vw;
  height: 10vw;
  display: flex;
  align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  
}

.hours-title {
  margin-left: 4vw;
  font-size: 3vw;
}

.swiper-near-me-container {
  height: 40vw;
  overflow-x: hidden;
}

#near-me-wrapper {
  overflow-x: hidden;
}

.svg-holder {
  width: 100vw;
  height: 32vw;
}

.svg-holder-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tall-size {
  font-size: 5vw;
}

.grey-space-div {
  width: 100vw;
  height: 5vw;
  background-color: #f5f5f5;
}

.category-svg {
  margin-bottom: 8vw;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vw;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  text-transform: uppercase;
  text-align: center;

  padding: 1vw;

  color: white;
  background: #3e6fc1;

  cursor: pointer;

  border-radius: 0.5vw;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: white;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: white;
  border-bottom: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

#mapid {
  height: 100vh;
  width: 100vw;
}

.maps-popup-card {
  position: fixed;
  width: 80vw;
  background-color: white;  
  height: 40vw;
  top: 60vh;
  z-index: 999;
  justify-content: start;
  align-items: center;
  border-radius: 13.5%;
}

.maps-popup-img {
  height: 24vw;
  width: 24vw;
  object-fit: cover;
  margin-left: 4vw;
  border-radius: 11.25%;
  box-shadow: 0.5vw -0.5vw 0.25vw rgb(0 0 0 / 10%);
}

.div-icon-maps {
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
}


.div-icon-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  
}


.loading-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 9999999999;
}

.location-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left: 4vw;
  height: 30vw;
  width: 40vw;
}

.location-shop-name {
  color: #a0a0a0;
  font-size: 4vw;
  height: 20vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locations-card-buttons-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vw;
  width: 100%;
}

.go-to-store-btn , .directions-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 111, 193);
  height: 7vw;
  width: 15vw;
  border-radius: 10%;
  box-shadow: 0.5vw -0.5vw 0.25vw rgb(0 0 0 / 18%);
}

.directions-btn > i, .go-to-store-btn > i {
  color: white;
  font-size: 4vw;
}

.search-container {
  background-color: white;
  width: 100vw;
  height: 14vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

.search-bar {
  height: 100%;
  width: 80%;
}

.search-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

.search-btn-div > i {
  color: grey;
  font-size: 4.5vw;
}

.search-bar {
  border-width: 0;
  padding-left: 5vw;
  margin-left: 5vw;
  font-size: 5vw;
  font-family: 'Roboto', sans-serif;
}


.search-results-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.search-result-item {
  width: 90vw;
  height: 35vw;
  border-radius: 2.5%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 8vw;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
}

.image-holder {
  height: 35vw;
  width: 30vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-result-img {
  width: 25vw;
  height: 25vw;
  border-radius: 13.5%;
  margin-left: 4vw;
  margin-bottom: 5vw;
  margin-top: 5vw;
  box-shadow: 0 0.7vw 0.4vw #8e8e8e;
}

.text-holder-result {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 35vw;
  width: 75vw;
  
}

.title-result {
  margin-left: 4vw;
  margin-top: 4vw;
  font-size: 3.5vw;
}

input:focus::placeholder{
  color: transparent;
}

* {
  touch-action: manipulation;
}

.maps-div-icon {
  background: url("https://i.stack.imgur.com/Pwbuz.png");
  border-radius: 50%;
  border-width: 0;
}
